body {

    text-align: center;
    width: 100%;
    height: 100%;
}
/* menu */
.header{
    background-color: #00BFFF;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
}
.header-menu{
    width: 85%;
}
.menu{
    display: flex;
    margin-top: 0;
}
.menu .menu-con {
    list-style-type: none;
    display: none;
    min-width: 100px;
    top: 100%;
    position: absolute;
    background-color: #fff;
    
}
.menu .menu-con a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
.menu > li {
    display: inline-block;
}
.menu li{
    position: relative;
}
.menu > li > a {
    color: #fff;
    text-transform: uppercase;

}
.menu li a{
    text-decoration: none;
    line-height: 50px;
    padding: 0 24px; 
    display: block; 
}
.menu li:hover .menu-con{
    display: block;
}
.menu li:hover a{
    color: #000;
    background-color: white;
}
.menu .menu-con li:hover a{
    color: #000;
    background-color: white;
}
.dn-icon{
    width: 15%;
    text-align: center;
    display: flex;
}
.dn-icon button {
    margin-top: 10px;
    margin-right: 10%;
    margin-left: 40%;
}
.dn-icon img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: right;    
}
/* dn */
.dn .form-dn input[type=email], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.dn .form-dn .cancelbtn {
    width: auto;
    padding: 10px 18px;    
    background-color: #f44336;
    float: left;
}

.dn .form-dn .img-user {
    text-align: center;
    position: relative;
}
.dn .form-dn img.avatar {
    width: 40%;
    border-radius: 50%;
}
.dn .form-dn .container {
    padding: 16px;
}
.dn .form-dn .sub-container{
    padding: 40px;
}

.dn .form-dn .psw {
    float: right;
    margin-right: 10px;
}
.dn .form-dn span.psw {
    padding-top: 10px;
}
.dn {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
.form-dn {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.dn .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover , .close:focus {
  color: red;
  cursor: pointer;
}
/* dk */
.dk .form-dk input[type=password] ,input[type=email]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.dk .form-dk .cancelbtn {
    width: auto;
    padding: 10px 18px;    
    background-color: #f44336;
    float: left;
}
.dk .form-dk .img-user {
    position: relative;
}
.dk .form-dk .container {
    padding: 16px;
}
.dk .form-dk .sub-container{
    padding: 2px;
}

.dk .form-dk .psw {
    float: center;
    margin-right: 10px;
}
.dk .form-dk span.psw {
    padding-top: 10px;
}
.dk {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
.form-dk {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.dk .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
/* ltw */
#ltw{
    width: 100%;
    height: 600px;
    text-align: center;
    background-color: #cce8f1;
}
.kh{
    width: 100%;
    height: 550px;
}
.kh-row-1{
    height: 100px;
}
/* hochtml */
.hochtml {
    
    width: 100%;
    height: 100%;
}
.hochtml h1{
    color:#00BFFF;
}
.hochtml button{
    width: 200px;
}
/* thanh */
#thanh{
    background-color:rgb(227, 240, 245);
    height: 400px;
    width: 100%;
}
.thanh-table{
    width: 100%;
    height: 300px;
}
.thanh-table td{
    
    width: 50%;
}
.thanh-table img{
    width: 300px;
    height: 300px;
}
.can-50{
    height: 50px;
}
.thanh-col-2{
    text-align: left;
    height: 60px;
}

/* content*/
#ht{
    display: flex;
}

.ht-content{
    width: 70%;
    height: 300px;
    
}
.ht-content .input-nd{
    height: 50px;
    width: 500px;
    margin-bottom: 10px;
}
.ht-content .input-style{
    height: 30px;
    width: 300px;
    margin-bottom: 10px;
}
/* btn */
button {
    background-color:bisque;
    width:150px;
    height:30px;
}
button:hover{
    background-color: #fff;
}
.bt1 {
    background-color:chartreuse;
}
.bt2 {
    background-color: brown;
}
/* poster */
.poster {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
/* class end */
.end {
    bottom: center;
    background-color: #00BFFF;
    height: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
