body {
    text-align: center;
    width: 100%;
    height: 100%;
}
h4 {
    font-family:candara;
    color: #00BFFF;
}
h3,h2 { 
    font-family:candara;
    color:chocolate; 
}
#menu {
    list-style-type: none;
    width: 100%;
    display: flex;
    color: chocolate;
    background-color: #00BFFF;
}
li {
    width: 15%;
}
h1 {
    color: red;
}
a {
    color:#00BFFF;
}
img {
    width:400px;
    height:400px;
}
div {
    width: 100%;
    
}
#thanhvien {
    display: flex;
    
}
button {
    background-color:bisque;
    width:50px;
    height:50px;
}
.bt1 {
    background-color:chartreuse;
}
.bt2 {
    background-color: brown;
}

#danhsachnhom {
    text-align: left;
} 
p {
    text-align: left;
}
footer {
    bottom: center;
    background-color: #00BFFF;
}
table {
    width : 100%;
}


form {
    width: 100%;
}


